<!DOCTYPE html>
<html lang="en">
    <head>
	<title>Threesa Infoway Pvt. Ltd.</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="Threesa Infoway Pvt. Ltd. helps you to connect with world.we provide unbreakable high speed internet connectivity for you home or organization">
<meta name="keywords" content="internet service providers,internet service provider near me,internet service provider in thane,internet service in thane,wifi service near me,wifi service provider near me,wifi services,Broadband Internet Service,broadband plans in thane,broadband service near me,broadband in thane,wireless internet service providers near me,Internet Service Providers For Corporate,internet service providers for home,ftth internet service provider,internet leased line service,leased line providers in thane">
   <meta name="google" content="notranslate"/>
    <link rel="shortcut icon" href="./assets/img/Threesa_Logo.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

<link href="https://file.myfontastic.com/JpmxZCFcddDr2e5EYRHXJ8/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="assets/css/preload.min.css">
    <link rel="stylesheet" href="assets/css/sweetalert.css">
    <link rel="stylesheet" href="assets/css/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.red-500.min.css">
    <link rel="stylesheet" href="assets/css/width-boxed.min.css" id="ms-boxed" disabled="">
    <script src="angulerjs/angular.min.js"></script>
    <script src="angulerjs/angular-sanitize.min.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-sanitize.min.js"></script> -->
    <script src="angulerjs/ui-bootstrap-tpls-0.14.3.min.js"></script>

    <script src="angulerjs/sweetalert.js"></script>
    <script src="angulerjs/appEntity.js"></script>

    <script>
        function verifyUrl()
        {
          var registerdUrls = ['http://www.threesainfoway.net','http://www.threesainfoway.net/#home','http://www.threesainfoway.net/#plans','http://www.threesainfoway.net/#about', 'http://www.threesainfoway.net/#service', 'http://www.threesainfoway.net/#partner','http://www.threesainfoway.net/#opportunity','http://www.threesainfoway.net/#contact','http://www.threesainfoway.net/#','http://www.threesainfoway.net/#smooth-scroll-top','http://threesainfoway.net','http://threesainfoway.net/#home','http://threesainfoway.net/#plans','http://threesainfoway.net/#about', 'http://threesainfoway.net/#service', 'http://threesainfoway.net/#partner','http://threesainfoway.net/#opportunity','http://threesainfoway.net/#contact','http://threesainfoway.net/#','http://threesainfoway.net/#smooth-scroll-top'];

          console.log(location.href)

          var existingurl = registerdUrls.filter(function(url){
            console.log(url,"--",url.length ,"-----",location.href,"--", location.href.length)
            return url == location.href;
        });
        console.log(existingurl);
        if(existingurl.length == 0)
        {
          location.href="404.html";
        }
        
        }
      </script>

  </head>

  <body  ng-app="appEntity" ng-controller="entityController" onhashchange="verifyUrl()">
    <!-- <a href="javascript:void(0)" class="ms-conf-btn ms-configurator-btn btn-circle btn-circle-raised btn-circle-primary animated rubberBand">
      <i class="fa fa-gears"></i>
    </a> -->
    <div id="ms-preload" class="ms-preload">
      <div id="status">
        <div class="spinner">
          <div class="dot1"></div>
          <div class="dot2"></div>
        </div>
      </div>
    </div>
    <div class="ms-site-container">

 <!-- Modal -->
 <div class="modal-primary" tabindex="-1">
    <div class="modal-dialog animated zoomIn animated-3x" role="document">
      <div class="modal-content">
        <div class="modal-header d-block shadow-2dp no-pb">
          <button type="button" class="close d-inline pull-right mt-2" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <i class="zmdi zmdi-close"></i>
            </span>
          </button>
          <div class="modal-title text-center">
             <img src="/assets/img/threesa_logo_white_small.png" alt=""> 
            <h3 class="no-m ms-site-title"><strong>Threesa Infoway</strong></h3>
          </div>
          <div class="modal-header-tabs">
            <ul class="nav nav-tabs nav-tabs-full nav-tabs-2 nav-tabs-primary" role="tablist">
              <li class="nav-item" role="presentation">
                <a href="#ms-login-tab" aria-controls="ms-login-tab" role="tab" data-toggle="tab" class="nav-link active withoutripple">
                  <i class="zmdi zmdi-account"></i>Enquiry</a>
              </li>
              <li class="nav-item" role="presentation">
                <a href="#ms-register-tab" aria-controls="ms-register-tab" role="tab" data-toggle="tab" class="nav-link withoutripple">
                  <i class="zmdi zmdi-dns"></i>Complaint</a>
              </li>
           
            </ul>
          </div>
        </div>
        <div class="modal-body">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade active show" id="ms-login-tab">
              <form autocomplete="off">
                <fieldset>
                 <div class="form-group label-floating">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="zmdi zmdi-account"></i>
                      </span>
                      <label class="control-label" for="ms-form-user-r"><span style="color:black">Name</span></label>
                      <input type="text" style="color:black"  id="ms-form-user-r" ng-model="customer.customername" class="form-control" autofocus /> </div>
                  </div>
                  <div class="form-group label-floating">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="zmdi zmdi-phone"></i>
                      </span>
                      <label class="control-label" for="ms-form-pass-r"><span style="color:black">Mobile No.</span></label>
                      <input type="number" ng-model="customer.mobile1"  id="ms-form-pass-r" class="form-control" autofocus> </div>
                  </div>
                  <div class="form-group label-floating">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="zmdi zmdi-email"></i>
                      </span>
                      <label class="control-label" for="ms-form-email-r"><span style="color:black">Email ID</span></label>
                      <input type="email"   ng-model="customer.email" id="ms-form-email-r" class="form-control" autofocus> </div>
                  </div>
                  
                  <div class="form-group label-floating">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="zmdi zmdi-dot-circle"></i>
                      </span>
                      <label class="control-label" for="ms-form-pass-rn"><span style="color:black">Address</span></label>
                      <input type="text" ng-model="customer.address" id="ms-form-pass-rn" class="form-control" autofocus> </div>
                  </div>
                    <div class="form-group label-floating">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="zmdi zmdi-comment-outline"></i>
                      </span>
                      <label class="control-label" for="ms-form-pass-rn"><span style="color:black">Message</span></label>
                      <input type="text" ng-model="customer.custome_message" id="ms-form-pass-rn" class="form-control"> </div>
                  </div>
                 <center> <a href="javascript:void(0)" ng-click="AddNewEnquiry()" class="wave-effect-light btn btn-raised btn-google" data-dismiss="modal">
                 Submit</a></center>
                </fieldset>
              </form>
             
            </div>
            <div role="tabpanel" class="tab-pane fade" id="ms-register-tab">
              <form>
                <fieldset>
                    <div class="form-group label-floating">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="zmdi zmdi-account"></i>
                      </span>
                      <label class="control-label" for="ms-form-user-r"><span style="color:black">Register Username</span></label>
                      <input type="text" style="color:black"  ng-model="complaint.customer"   id="ms-form-user-r" class="form-control" autofocus /> </div>
                  </div>
                  <div class="form-group label-floating">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="zmdi zmdi-phone"></i>
                      </span>
                      <label class="control-label" for="ms-form-pass-r"><span style="color:black">Mobile No.</span></label>
                      <input type="number" ng-model="complaint.mobile1"  id="ms-form-pass-r" class="form-control" autofocus> </div>
                  </div>
                  <div class="form-group label-floating">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="zmdi zmdi-email"></i>
                      </span>
                      <label class="control-label" for="ms-form-email-r"><span style="color:black">Address</span></label>
                      <input type="email" id="ms-form-email-r" ng-model="complaint.address"  class="form-control" autofocus> </div>
                  </div>
                  
                  <div class="form-group label-floating">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="zmdi zmdi-wifi-off"></i>
                      </span>
                        <label class="control-label" for="ms-form-pass-rn"><span style="color:black">Isuue</span></label>      
                        <select ng-model="complaint.issue" class="form-control md-1" required>
                                            <option value="" selected disabled></option>
                                            <option value="651 Error occur">651 Error occur</option>
                                            <option value="691 Error occur">691 Error occur</option>
                                            <option value="shifting">shifting</option>
                                            <option value="Internet is not working due to some reason">internet is not working due to some reason</option>
                                            <option value="Router reset">Router reset</option>
                                            <option value="Wire problem">Wire problem</option>
                                            <option value="Other">Other problem</option>
                        </select>
</div>
                  </div>
                    <div class="form-group label-floating" ng-if="complaint.issue == 'Other'">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="zmdi zmdi-comment-outline"></i>
                      </span>
                      <label class="control-label" for="ms-form-pass-rn"><span style="color:black">Other Issue</span></label>
                      <input type="text" ng-model="complaint.otherissue" id="ms-form-pass-rn" class="form-control"  /> </div>
                  </div>
                 <center> <a href="javascript:void(0)" class="wave-effect-light btn btn-raised btn-google" ng-click="AddNewComplaints()" data-dismiss="modal">
                 Submit</a></center>
             </fieldset>
              </form>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="ms-recovery-tab">
              <fieldset>
                <div class="form-group label-floating">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="zmdi zmdi-account"></i>
                    </span>
                    <label class="control-label" for="ms-form-user-re">Username</label>
                    <input type="text" id="ms-form-user-re" class="form-control"> </div>
                </div>
                <div class="form-group label-floating">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="zmdi zmdi-email"></i>
                    </span>
                    <label class="control-label" for="ms-form-email-re">Email</label>
                    <input type="email" id="ms-form-email-re" class="form-control"> </div>
                </div>
                <button class="btn btn-raised btn-block btn-primary">Send Password</button>
              </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    </div>

    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/app.min.js"></script>
    <script src="assets/js/configurator.min.js"></script>
    <script>
      (function(i, s, o, g, r, a, m)
      {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function()
        {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-90917746-2', 'auto');
      ga('send', 'pageview');
    </script>
    <script src="assets/js/index.js"></script>
   
  </body>
</html>

    